body {
  margin: 0;
  font-family: 'Rubik', sans-serif; /* שימוש בפונט Rubik */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCF4E7; /* צבע רקע קרם בהיר */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}